body {
	background-color:#2a2a2a;
}

#reset {
	border:solid 1px gray;
	background-color:#2a2a2a;
	color: gray;
	margin-top: 5px;
}
.color {
 background-color: white;
 width: 55px;
 height: 55px;

}
.color1 {
 background-color: green;
 width: 55px;
 height: 55px;
}
.color2 {
 background-color: blue;
 width: 55px;
 height: 55px;
}
.color3 {
 background-color: red;
 width: 55px;
 height: 55px;
}
.color4 {
 background-color:  grey ;
 width: 55px;
 height: 55px;
}
.color5 {
 background-color: black;
 width: 55px;
 height: 55px;
}
.color6 {
 background-color: pink;
 width: 55px;
 height: 55px;
}
.color7 {
 background-color: brown ;
 width: 55px;
 height: 55px;
}
.color8 {
 background-color: yellow;
 width: 55px;
 height: 55px;
}
#box td {
	text-align:center;
	font-family:Times New Roman;
	color: white;
}

#box td:hover {
	color: white;
	cursor: hand;
}
